<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>暴风TV】风迷年货节，买电视赢7座SUV！55吋VR电视2999元，再送年货大礼包！www.bftv.com</title>
    <meta name="description" content="暴风TV超体电视，犒赏奋斗的青春。暴风TV官网是暴风TV面向全国服务的官方电子商务平台，提供暴风超体电视及相关服务系列产品的预约和购买。官方正品，全国包邮、全国联保。">
    <meta name="keywords" content="暴风TV,暴风电视,年货节,智能电视,分体电视,VR电视,4K电视,电视。">
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://static.bftv.com/bftv_wxl/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="http://static.bftv.com/bftv_wxl/owl.theme.default.min.css">
    <script type="text/javascript" src="http://static.bftv.com/bftv_wxl/owl.carousel.min.js"></script>
    <script type="text/javascript" src="http://static.bftv.com/bftv_wxl/layer/layer.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
